.App {
  text-align: center;
}

.navbar-nav {
  background-color: grey;
  padding: 1rem;
}

.navbar-ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style-type: none;
}

.navbar-link {
  text-decoration: none;
  color: black;
}